<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <!--  la siguiente linea supuestamenta va pero no logro que levante el servidor
        por lo tanto la quito hasta hablar con Bruno 
      stylesheet_pack_tag "application"   
                                  -->
    <%= javascript_importmap_tags %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
  <%= render "partials/nav" %>
    <%= yield %>
  </body>
</html>
